<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El-Archmides</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TadrousManassa.styles.css" asp-append-version="true" />

    <link rel="shortcut icon" href="~/images/Logo.jpg" type="">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUa8nHJ0R5U1BMnJv4xQ0sN5NjaS28lO4JJznldErIYV9i/zzK/6L+TpcqUs" crossorigin="anonymous">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/images/Logo.jpg" alt="">
                </a>
                <ul class="navbar-nav flex-grow-1">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <span>
                            Mr. TadrOus Maher
                        </span>
                        <br>
                        <p class="subtitle" style="color: gray;">El-Archmides</p>
                    </a>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="text-align: center">
            &copy; 2025 - The only way to learn Mathematics is to do Mathematics 👌🏻❤

            <br />
            Developed by <a href="https://www.linkedin.com/in/bola-milad-bb1206195/">Bola</a>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+94wtF5HB3W+5MC4NSLFYduw98P6a" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
    .subtitle {
        /* font-size: 0.1rem; /* Smaller font size */ */
        color: gray; /* Gray color */
    }
</style>