@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@* <div class="container "> *@
@*     <div class="row"> *@
@*         <div class="col-8"> *@
@*             <svg width="695" height="100" xmlns="http://www.w3.org/2000/svg"> *@
@*                 <g> *@
@*                     <text fill="#007fff" x="85.78155" y="59.056152" id="svg_1" font-size="50" font-family="'Shadows Into Light', serif" text-anchor="start" xml:space="preserve" transform="matrix(1.211521886311857,0,0,1,-83.28622976832503,0) " stroke="#000" font-weight="bold" font-style="normal">اهلا بيك فى منصة الابداع</text> *@
@*                     <text fill="#007fff" x="285.78155" y="69.056152" id="svg_1" font-size="50" font-family="'Shadows Into Light', serif" text-anchor="start" xml:space="preserve" transform="matrix(1.211521886311857,0,0,1,-83.28622976832503,0) " stroke="#000" font-weight="bold" font-style="normal">اهلا بيك فى منصة الابداع</text> *@
@*                 </g> *@
@*             </svg> *@
@*             @* <button class="btn btn-primary">hi vdfivnofvn jfno</button> *@ 
@*         </div> *@

@*     </div> *@
@* </div> *@


<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="container">
            <div class="row">
                <img class="sec1" src="~/images/profile.gif" alt="tad1" />
            </div>
        </div>
        @* <ol class="carousel-indicators"> *@
        @*     <li data-target="#customCarousel1" data-slide-to="0" class="active"></li> *@
        @*     <li data-target="#customCarousel1" data-slide-to="1"></li> *@
        @*     <li data-target="#customCarousel1" data-slide-to="2"></li> *@
        @* </ol> *@
    </div>
</section>


<!-- service section -->
<div>
    <section class="service_section layout_padding">
        <div class="service_container">
            <div class="container ">
                <div class="heading_container heading_center">
                    <h2>
                         <span>ليه تشترك معانا؟</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/teacher.gif" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    تبسيط المعلومة
                                </h5>
                                <p>
                                    شرح تفصيلى لكل جزئية فى المنهج بشكل بسيط و ممتع
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/book.gif" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    الحل الكتير
                                </h5>
                                <p>
                                    هنحل مع بعض كل اسئلة الكتب الخارجية بكل مستويات الصعوبة
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="box ">
                            <div class="img-box">
                                <img src="images/quiz.gif" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    الامتحانااااااااااااات
                                </h5>
                                <p>
                                    دايما مع كل حصة بيبقى فى امتحانات عشان تختبر مستواك و تأكد فهمك للدرس
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @* <div class="btn-box"> *@
                @*     <a href=""> *@
                @*         View All *@
                @*     </a> *@
                @* </div> *@
            </div>
        </div>
    </section>
</div>
<!-- end service section -->
@* <!-- why section --> *@

@* <section class="why_section layout_padding"> *@
@*     <div class="container"> *@
@*         <div class="heading_container heading_center"> *@
@*             <h2> *@
@*                 Why Choose <span>Us</span> *@
@*             </h2> *@
@*         </div> *@
@*         <div class="why_container"> *@
@*             <div class="box"> *@
@*                 <div class="img-box"> *@
@*                     <img src="images/w1.png" alt=""> *@
@*                 </div> *@
@*                 <div class="detail-box"> *@
@*                     <h5> *@
@*                         Expert Management *@
@*                     </h5> *@
@*                     <p> *@
@*                         Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil. *@
@*                         Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus *@
@*                     </p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="box"> *@
@*                 <div class="img-box"> *@
@*                     <img src="images/w2.png" alt=""> *@
@*                 </div> *@
@*                 <div class="detail-box"> *@
@*                     <h5> *@
@*                         Secure Investment *@
@*                     </h5> *@
@*                     <p> *@
@*                         Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil. *@
@*                         Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus *@
@*                     </p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="box"> *@
@*                 <div class="img-box"> *@
@*                     <img src="images/w3.png" alt=""> *@
@*                 </div> *@
@*                 <div class="detail-box"> *@
@*                     <h5> *@
@*                         Instant Trading *@
@*                     </h5> *@
@*                     <p> *@
@*                         Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil. *@
@*                         Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus *@
@*                     </p> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="box"> *@
@*                 <div class="img-box"> *@
@*                     <img src="images/w4.png" alt=""> *@
@*                 </div> *@
@*                 <div class="detail-box"> *@
@*                     <h5> *@
@*                         Happy Customers *@
@*                     </h5> *@
@*                     <p> *@
@*                         Incidunt odit rerum tenetur alias architecto asperiores omnis cumque doloribus aperiam numquam! Eligendi corrupti, molestias laborum dolores quod nisi vitae voluptate ipsa? In tempore voluptate ducimus officia id, aspernatur nihil. *@
@*                         Tempore laborum nesciunt ut veniam, nemo officia ullam repudiandae repellat veritatis unde reiciendis possimus animi autem natus *@
@*                     </p> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <div class="btn-box"> *@
@*             <a href=""> *@
@*                 Read More *@
@*             </a> *@
@*         </div> *@
@*     </div> *@
@* </section> *@

@* <!-- end why section --> *@
@* <!-- client section --> *@

@* <section class="client_section layout_padding"> *@
@*     <div class="container"> *@
@*            <div class="heading_container heading_center psudo_white_primary mb_45"> *@
@*               <h2> *@
@*                    What says our <span>Customers</span> *@
@*                </h2> *@
@*            </div> *@
@*         <div class="carousel-wrap "> *@
@*             <div class="owl-carousel client_owl-carousel"> *@
@*                 <div class="item"> *@
@*                     <div class="box"> *@
@*                         <div class="img-box"> *@
@*                             <img src="images/client1.jpg" alt="" class="box-img"> *@
@*                         </div> *@
@*                         <div class="detail-box"> *@
@*                             <div class="client_id"> *@
@*                                 <div class="client_info"> *@
@*                                     <h6> *@
@*                                         LusDen *@
@*                                     </h6> *@
@*                                     <p> *@
@*                                         magna aliqua. Ut *@
@*                                     </p> *@
@*                                 </div> *@
@*                                 <i class="fa fa-quote-left" aria-hidden="true"></i> *@
@*                             </div> *@
@*                             <p> *@
@*                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis *@
@*                             </p> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="item"> *@
@*                     <div class="box"> *@
@*                         <div class="img-box"> *@
@*                             <img src="images/client2.jpg" alt="" class="box-img"> *@
@*                         </div> *@
@*                         <div class="detail-box"> *@
@*                             <div class="client_id"> *@
@*                                 <div class="client_info"> *@
@*                                     <h6> *@
@*                                         Zen Court *@
@*                                     </h6> *@
@*                                     <p> *@
@*                                         magna aliqua. Ut *@
@*                                     </p> *@
@*                                 </div> *@
@*                                 <i class="fa fa-quote-left" aria-hidden="true"></i> *@
@*                             </div> *@
@*                             <p> *@
@*                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis *@
@*                             </p> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="item"> *@
@*                     <div class="box"> *@
@*                         <div class="img-box"> *@
@*                             <img src="images/client1.jpg" alt="" class="box-img"> *@
@*                         </div> *@
@*                         <div class="detail-box"> *@
@*                             <div class="client_id"> *@
@*                                 <div class="client_info"> *@
@*                                     <h6> *@
@*                                         LusDen *@
@*                                     </h6> *@
@*                                     <p> *@
@*                                         magna aliqua. Ut *@
@*                                     </p> *@
@*                                 </div> *@
@*                                 <i class="fa fa-quote-left" aria-hidden="true"></i> *@
@*                             </div> *@
@*                             <p> *@
@*                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis *@
@*                             </p> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="item"> *@
@*                     <div class="box"> *@
@*                         <div class="img-box"> *@
@*                             <img src="images/client2.jpg" alt="" class="box-img"> *@
@*                         </div> *@
@*                         <div class="detail-box"> *@
@*                             <div class="client_id"> *@
@*                                 <div class="client_info"> *@
@*                                     <h6> *@
@*                                         Zen Court *@
@*                                     </h6> *@
@*                                     <p> *@
@*                                         magna aliqua. Ut *@
@*                                     </p> *@
@*                                 </div> *@
@*                                 <i class="fa fa-quote-left" aria-hidden="true"></i> *@
@*                             </div> *@
@*                             <p> *@
@*                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis *@
@*                             </p> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </section> *@

@* <!-- end client section --> *@
<!-- info section -->

<section class="info_section layout_padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 info_col">
                <div class="info_contact">
                    <h4>
                        Address
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Location
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call +01 1234567890
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                demo@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
                <div class="info_social">
                    <a href="">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 info_col">
                <div class="info_detail">
                    <h4>
                        Info
                    </h4>
                    <p>
                        necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 mx-auto info_col">
                <div class="info_link_box">
                    <h4>
                        Links
                    </h4>
                    <div class="info_links">
                        <a class="active" href="index.html">
                            Home
                        </a>
                        <a class="" href="about.html">
                            About
                        </a>
                        <a class="" href="service.html">
                            Services
                        </a>
                        <a class="" href="why.html">
                            Why Us
                        </a>
                        <a class="" href="team.html">
                            Team
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 info_col ">
                <h4>
                    Subscribe
                </h4>
                <form action="#">
                    <input type="text" placeholder="Enter email" />
                    <button type="submit">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- end info section -->
<!-- footer section -->
<section class="footer_section">
    <div class="container">
        <p>
        </p>
    </div>
</section>
<!-- footer section -->
<!-- jQery -->
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script type="text/javascript" src="js/bootstrap.js"></script>
<!-- owl slider -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- custom js -->
<script type="text/javascript" src="js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->