@using TadrousManassa.Areas.Teacher.Models
@model AdminVM

<h3>Lecture Access Codes</h3>
<div class="row">
    @foreach (var lecture in Model.Lectures)
    {
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">@lecture.Name</h5>
                    <div>
                        <button type="button"
                                class="btn btn-sm btn-outline-success"
                                onclick="fetchCode('@lecture.Id')">
                            Generate Code
                        </button>
                        <div id="codeResult-@lecture.Id" class="mt-2" style="display: none;">
                            <div class="alert alert-primary d-inline-block mb-0 p-2">
                                <span id="codeValue-@lecture.Id"></span>
                                <button class="btn btn-sm btn-link text-black"
                                        onclick="copyCode('@lecture.Id')"
                                        title="Copy code">
                                    <i class="fas fa-copy"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div> 