@using TadrousManassa.Areas.Teacher.Models
@using TadrousManassa.Utilities
@model VideoUploadingPartialVM

<form asp-action="UploadVideo" asp-controller="Video" method="post" enctype="multipart/form-data">
    <!-- File Input for Video -->
    <div class="mb-3">
        <label asp-for="Video" class="form-label">Choose Video</label>
        <input asp-for="Video" type="file" class="form-control" id="videoFile" name="Video" accept="video/*" />
        <span asp-validation-for="Video" class="text-danger"></span>
    </div>

    <!-- Video Details Inputs -->
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <!-- Grade Selector using an Enum Select List -->
    <div class="form-floating mb-3">
        <select asp-for="Grade"
                asp-items="Html.GetEnumSelectList<Grade>()"
                class="form-control"
                aria-required="true">
            <option value="">Enter your Grade</option>
        </select>
        <label asp-for="Grade">Grade</label>
        <span asp-validation-for="Grade" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Unit" class="form-label">Unit</label>
        <input asp-for="Unit" class="form-control" />
        <span asp-validation-for="Unit" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Price</label>
        <input asp-for="Price" class="form-control" type="number" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SheetPath" class="form-label">Sheet Path</label>
        <input asp-for="SheetPath" class="form-control" />
        <span asp-validation-for="SheetPath" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Upload Video</button>
</form> 