@page
@model LoginModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="login-box">
                <section>
                    <h1><span class="fun-icon">🎈</span>Login Now!</h1>
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                            <label asp-for="Input.Email">🎨 Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password">🧩 Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            <label asp-for="Input.RememberMe" class="form-check-label">
                                🐻 Remember Me
                            </label>
                        </div>

                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">🚀 Log In</button>
                    </form>
                </section>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/images/math.png" class="img-fluid" alt="Math Image" />
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <link rel="stylesheet" href="~/css/fun-login.css" />
}
